{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-undef": "error"
  },
  "globals": {
    "require": true,
    "expect": true,
    "describe": true,
    "test": true,
    "console": true,
    "process": true,
    "module": true
  }
}